@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* Paleta de cores:
  verde: #49a09d
  lilás: #2B2236
  roxo claro:#362B45
  */


* {
  font-family: "Amatic SC", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

body,
html {
  background-color: #362B45;
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: white;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2B2236;
  border: 1px solid black;
  width: 265px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px rgb(0, 0, 0, 0.450);
  transition: width 0.5s, height 0.5s;
}

section#login>div#imagem {
  display: block;
  background: #2B2236 url(../imagens/ceu.jpg) no-repeat;
  height: 200px;
  background-size: cover;

}
div.campo>label {
  display: none;
}

section#login>div#formulario {
  display: block;
  padding: 10px;

}

div#formulario>h1 {
  text-align: center;
  margin: 10px 0px 10px 0px;
}

div#formulario>p {
  margin: 15px;
  font-size: 0.8em;
}

form>div.botao>input[type=submit] {
  display: block;
  font-size: 1.3em;
  width: 100%;
  height: 40px;
  background-color: #362B45;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

form>div.botao>input[type=submit]:hover {
  background-color: #123f09;
  text-decoration: underline;
  transition: 0.5s;
  font-weight: bolder;
  cursor: pointer;
}

div.esqueci>a.botao {
  display: block;
  text-align: center;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  margin: 3px;
}

div.esqueci>a.botao:hover {
  text-decoration: underline;
  background-color: #123f09;
  transition: .3s;
  border-radius: 5px;
  font-weight: bolder;
  padding: 2px;
}
